
<div class="col-12 px-3 py-2">
    
    <h2 class="text-truncate">Acervos</h2>

    <div class="row">

        <div *ngFor="let collection of collections"
            class="col-sm-6">
            <div class="card">
                <div class="btn card-body" [routerLink]="['/acervo',  collection.id]">
                    <h5 class="text-truncate">{{ collection.title }}</h5>
                    <p class="multine-ellipsis">{{collection.description}}</p>
                    <p class="multine-ellipsis fw-light">{{collection.addInfo}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
